{% extends 'base2.html.twig' %}

{% block title %}Instalaciones{% endblock %}

{% block body %}
    <h1>Create new Instalacion</h1>

    {{ include('instalaciones/_form.html.twig') }}

    <a href="{{ path('instalaciones_index') }}">back to list</a>
{% endblock %}
