{% extends 'base2.html.twig' %}
{% block title %}Consultar Ingresos{% endblock %}
{% block body %}
    <div class="container">
        <form method="post">
            {{ form(form)}}
         </form>    
    </div>    
{% endblock %}
