<div class="card-body">
    <h5 class="card-title">Listado de Cambios</h5>
    <hr/>
    <p>31 de enero 2023</p>
    <p>Implementada la funcionalidad de mover medios de una basificacion a otra</p>
    <p class="card-text">8 de Agosto 2021</p>
    <p class="card-text"><small class="text-warning">Implementado listado de Lots a exportar en xls</small></p>
    <p class="card-text"><small class="text-warning">En el listado de las basificaciones solo aparecen las de la provincia</small></p>

</div>
