<form method="post" action="{{ path('organismos_delete', {'Cod': organismo.Cod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organismo.Cod) }}">
    <button class="btn">Delete</button>
</form>
