{% extends 'base2.html.twig' %}

{% block title %}New EstadoLot{% endblock %}

{% block body %}
    <h1>Create new EstadoLot</h1>

    {{ include('estado_lot/_form.html.twig') }}

    <a href="{{ path('estado_lot_index') }}">back to list</a>
{% endblock %}
