{% extends 'base2.html.twig' %}

{% block body %}
    <h1>Editar datos OficinaMcpal</h1>

    {{ include('oficina_mcpal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('oficina_mcpal_index') }}">Listado</a>

    {#{{ include('oficina_mcpal/_delete_form.html.twig') }}#}
{% endblock %}
