<ul>
    <li><a href="#">SNL-7-01 </a></li>
    <li><a href="#">SNL-7-02 </a></li>
    <li><a href="#">SNL-7-03 </a></li>
    <li><a href="#">SNL-7-22 </a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_mediosmcpl', {'mcpio': idmcpio}) }}">Medios.xls</a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_datosinstamcpal', {'mcpio': idmcpio}) }}">Instalaciones.xls</a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_modelo1mcpal', {'mcpio':idmcpio }) }}">Modelo1.xls</a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_modelo2mcpal', {'mcpio': idmcpio}) }}">Modelo2.xls</a></li>
</ul>
