{% extends 'base2.html.twig' %}

{% block body %}
    <h1 class="alert alert-success">Registrar OficinaMcpal</h1>
    <div class="container">
        {{ include('oficina_mcpal/_form.html.twig') }}
    </div>


    {#<a href="{{ path('oficina_mcpal_index') }}">Listar Todas</a>#}
{% endblock %}
