{% extends 'base2.html.twig' %}

{% block title %}Adicionar Basificacion{% endblock %}

{% block body %}
    <h1 class="alert alert-success">Adicionar Basificacion a la lot <a class="badge badge-warning badge-pill" href="{{ path('lotjuridicas_show', {'id': basificacion.idlicencia.id }) }}">{{ basificacion.idlicencia }}</a></h1>

    {{ include('basificacion/_formAddbylot.html.twig') }}

{% endblock %}
{% block topnavlink %}
    <li class="nav-item active">
        <a class="nav-link"  href="{{ path('basificacion_index') }}"> <i class="fa fa-list"></i> Listar Todas</a>
    </li>
{% endblock %}