{% extends '::lot.html.twig' %}
{% block main %}
<h1>Lotjuridicas creation</h1>

<form action="{{ path('lotjurid_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
<ul class="record_actions">
    <li>
        <a href="{{ path('lotjurid') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}