<form method="post" action="{{ path('medios_trans_delete', {'id': medios_tran.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medios_tran.id) }}">
    <button class="btn" style="color: rgba(255, 255, 255, 0.5);"><i class="fa fa-trash text-danger"></i> Delete</button>
</form>
