{% extends 'base2.html.twig' %}
{% block body %}
    {% include 'user/usrdetails.html.twig' %}
    <div class="container col-4">
        <div class="card">
            <div class="card-header">Cambio de Contrase&ntilde;a</div>
            <div class="card-body">
                {% include "user/_formchpassw.html.twig" %}
            </div>

        </div>
    </div>
{% endblock %}