{% extends 'base2.html.twig' %}
{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        {{ form_start(form) }}
        <div class="form-group">
                {{ form_widget(form) }}
        </div>
        {{ form_end(form) }}

    {% endif %}
{% endblock %}
